<h4>Your Inputed Data Summery:</h4>
<div class="row">
  <div class="columnbottommargin col-md-6 col-sm-12">
    <h2>Step One</h2>
    <div class="section-info-box">
      <p id="servicetypeData"><strong>Selected Property Type:</strong> {{ quotation.servicetype }}</p>
      <p id="cleaningtypeData"><strong>Selected Cleaning Type:</strong> {{ quotation.cleaningtype }}</p>
      <p id="propertyaddressData"><strong>Property Address:</strong> {{ quotation.propertyaddress }}</p>
    </div>

    <h2>Step Two</h2>
    <div class="section-info-box">
      <p id="propertysizeData"><strong></strong> {{ quotation.propertysize }}</p>
      <p id="bedroomsData"><strong></strong> {{ quotation.bedrooms }}</p>
      <p id="bathroomsData"><strong></strong> {{ quotation.bathrooms }}</p>
      <p id="bathtubsData"><strong></strong> {{ quotation.bathtubs }}</p>
      <p id="sittingroomData"><strong></strong> {{ quotation.sittingroom }}</p>
      <p id="diningroomData"><strong></strong> {{ quotation.diningroom }}</p>
      <p id="kitchenData"><strong></strong> {{ quotation.kitchen }}</p>
      <p id="ovenData"><strong></strong> {{ quotation.oven }}</p>
      {#<p id="kitchenitemsData"><strong></strong> {{ quotation.kitchenitems }}</p>#}
    </div>
  </div>
  <div class="columnbottommargin col-md-6 col-sm-12">
    <h2>Step Three</h2>
    <div class="section-info-box">
      <p id="frequencycleaningData"><strong></strong> {{ quotation.frequencycleaning }}</p>
      {#<p id="preferreddaysData"><strong></strong> {{ quotation.preferreddays }}</p>#}
      <p id="preferredtimeData"><strong></strong> {{ quotation.preferredtime }}</p>
      <p id="priorityData"><strong></strong> {{ quotation.priority }}</p>
      <p id="preferreddateData"><strong></strong> {{ quotation.preferreddate }}</p>
    </div>

    <h2>Step Four</h2>
    <div class="section-info-box">
      <p id="requirementdetailsData"><strong></strong> {{ quotation.requirementdetails }}</p>
      <p id="additionalinfoData"><strong></strong> {{ quotation.additionalinfo }}</p>
      <p id="firstNameData"><strong></strong> {{ quotation.fname }}</p>
      <p id="lastNameData"><strong></strong> {{ quotation.lname }}</p>
      <p id="genderData"><strong></strong> {{ quotation.gender }}</p>
      <p id="addressData"><strong></strong> {{ quotation.address }}</p>
      <p id="emailaddressData"><strong></strong> {{ quotation.email }}</p>
      <p id="phoneData"><strong></strong> {{ quotation.phone }}</p>
      <p id="preferedcontactData"><strong></strong> {{ quotation.preferedcontact }}</p>
    </div>
</div>
</div>